<%- include('partials/head') %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="row">
                    <div class="col-6 offset-3">
                        <div class="row mb-4">
                            <form action="/create" method="post" class="form-control">
                                <input type="text" name="full_name" placeholder="Full Name" class="form-control"><br>
                                <input type="email" name="email" placeholder="Email" class="form-control"><br>
                                <button class="btn btn-primary form-control">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <% data.forEach(user => { %>
                        <%- include('partials/card', {user}) %>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/bottom') %>